<h3 class="mb-5">Dashboard</h3>

<div class="row">
  <div class="col-8">
    <h6>All users</h6>

    <div class="card p-3">
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Email</th>
            <th>Last seen</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.last_seen_at.nil? ? 'Is offline' : time_ago_in_words(user.last_seen_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-4">
    <h6>Online Users</h6>

    <div class="card p-3">
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @online_users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><span class="badge badge-success">Online</span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
